streamlit
scikit-learn==1.3.0  # Only if your model is from scikit-learn
numpy         # Include if used for data formatting or processing
pandas        # Include if you’re using data frames
setuptools>=58.0.0
